@using postGres.View_Models
@model TeachersModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Alter Teachers";
}


    <table class=" table">
        <tbody>
            <tr>
                <td>
                    <form asp-action="UpdateTeacher" asp-controller="Teachers" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="@Model.id" value="@Model.id" />
                        <input class="form-control-sm d-inline-block" asp-for="@Model.name" value="@Model.name" />
                        <input class="form-control-sm d-inline-block" asp-for="@Model.department" value="@Model.department" />
                        <input class="form-control-sm d-inline-block" asp-for="@Model.section" value="@Model.section" />
                        <input type="submit" class="btn-sm btn-primary" value="Update" />
                        <input type="button" onclick="history.back()" class="btn-sm btn-info" value="Cancel" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

