@using postGres.View_Models
@model List<StudentsModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Students";
}


    
    <form class="my-2" method="post" enctype="multipart/form-data" asp-controller="Students" asp-action="addStudent">
        Name:<input class="form-control-sm d-inline-block" asp-for="@Model.FirstOrDefault().name" value="" />
        Department:<input class="form-control-sm d-inline-block" asp-for="@Model.FirstOrDefault().department" value="" />
        <input class=" btn-sm btn-primary d-inline-block" type="submit" value="Add Student" />
        <hr />
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentsModel student in Model)
            {
                <tr>
                    <td>@student.name</td>
                    <td>@student.department</td>
                    <td>
                        <form asp-action="AlterStudent" asp-controller="Students" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="@Model.FirstOrDefault().id" value="@student.id"/>
                            <input type="hidden" asp-for="@Model.FirstOrDefault().name" value="@student.name"/>
                            <input type="hidden" asp-for="@Model.FirstOrDefault().department" value="@student.department"/>
                            <input type="submit" name="Edit" class="btn-sm btn-primary" value="Edit" />
                            <input type="submit" name="Delete" class="btn-sm btn-danger" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

